@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

input {
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid black;
  height: 2.2em;
  margin: .5em 0;
}

input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

select {
  width: 100%;
  height: 2em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  display: block;
  margin: 2em 0;
}

.btn {
  background-color: #5ab3de;
  border: none;
  border-radius: 10px;
  padding: .4em 2em;
  color: #fff;
  font-size: 1.1rem;
  margin: .7em auto;
  display: block;
  -webkit-transition: ease background-color .3s;
  transition: ease background-color .3s;
}

.btn:hover {
  background-color: #2791c4;
  cursor: pointer;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1em;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4em 1em;
  text-transform: capitalize;
  opacity: .7;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}

@media (max-width: 768px) {
  .container .nav {
    top: auto;
    bottom: 0;
  }
  .container .nav .logo img {
    -webkit-clip-path: ellipse(13% 60% at 13% 55%);
            clip-path: ellipse(13% 60% at 13% 55%);
  }
  .container .nav .menu .menu__item {
    position: relative;
  }
  .container .nav .menu .menu__item span {
    display: none;
  }
  .container .nav .menu .menu__item i {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .container .nav .logo {
    display: none;
  }
  .container .nav .menu {
    width: 100%;
  }
  .container .nav .menu .menu__item {
    margin: 0 auto;
  }
}

.container .nav .logo {
  width: 7em;
  height: 2em;
}

.container .nav .logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .nav .menu .menu__item {
  margin: 0 1em;
}

.container .main .hero-banner {
  height: 100vh;
  width: 100%;
  background-image: url(../img/aqua-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container .main .info {
  position: relative;
}

.container .main .info .grid {
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.container .main .info .grid .aqua-logo img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 768px) {
  .container .main .info .grid .aqua-logo img {
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: .3;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}

.container .main .info .grid .aquaworld {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1.6em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 10;
}

.container .main .info .grid .aquaworld h2 {
  text-align: center;
}

.container .main .info .grid .aquaworld p {
  margin-bottom: 1em;
}

.container .main .services {
  background-color: mediumseagreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  position: relative;
}

.container .main .services .grid {
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
}

.container .main .services h2 {
  text-align: center;
  margin: 2rem 0;
}

.container .main .services .commercial-solutions,
.container .main .services .residential-solutions,
.container .main .services .ro-alkaline {
  width: 100%;
  height: 10em;
  border: 1px solid black;
  cursor: pointer;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  position: relative;
}

.container .main .services .commercial-solutions::after,
.container .main .services .residential-solutions::after,
.container .main .services .ro-alkaline::after {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
}

@media (max-width: 815px) {
  .container .main .services .commercial-solutions,
  .container .main .services .residential-solutions,
  .container .main .services .ro-alkaline {
    height: 20em;
  }
}

.container .main .services .commercial-solutions {
  background: url(../img/services1.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .main .services .residential-solutions {
  background: url(../img/services2.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .main .services .ro-alkaline {
  background: url(../img/services3.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .main .video {
  width: 100%;
  height: 80vh;
  position: relative;
}

.container .main .video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container .main .products {
  margin-top: 3em;
  padding: 1.6em;
}

.container .main .products h2 {
  margin-bottom: 1.4em;
}

.container .main .products .products-card {
  width: 100%;
}

.container .main .products .products-card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container .main .products .contact-card {
  width: 100%;
  margin: 1em auto;
  padding: 4em 1em;
  background-color: lightgray;
}

.container .main .products .contact-card p {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.container .main .products .contact-card a {
  width: 10em !important;
  text-align: center !important;
  color: #fff !important;
  margin-top: 2.3em;
}

.container .main .videos {
  margin-top: 3em;
  padding: 1.6em;
}

.container .main .videos .video-container {
  margin: 1em;
  max-width: 18em;
  border: 1px solid black;
  border-radius: 15px;
}

.container .main .videos .video-container iframe {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.container .main .videos .video-container .description {
  width: 100%;
  margin-top: .4em;
  padding: .5em;
  text-overflow: ellipsis;
}

.container .main .contact-form {
  max-width: 800px;
  margin: 3em auto;
  padding: 1.6em;
}

.container .main .contact-form .form-input {
  margin: 1.5em 0;
}

.container .footer {
  color: #fff;
  background-color: #262626;
  margin-top: .1em;
}

.container .footer .contact-us {
  padding: 3em;
  text-align: center;
}

.container .footer .contact-us .about-us {
  margin: 1em 0;
}

.container .footer .social-networks {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .footer .social-networks i {
  color: #fff;
  font-size: 2.2em;
  -webkit-transition: ease all .4s;
  transition: ease all .4s;
  margin: 0 .5rem;
}

.container .footer .social-networks i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  .container .footer .social-networks {
    margin-bottom: 3em;
  }
}

.container .footer .bot-line {
  background-color: #242222;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */