@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    

    &:visited{
        text-decoration: none;
        color: #000;

    }
}

input{
    // background-color: slategrey;
    width: 100%;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid black;
    height: 2.2em;
    margin: .5em 0;

    &:focus{
        box-shadow: none;
    }

}

select{
    width: 100%;
    height: 2em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    margin: 2em 0;
}

.btn{
    background-color: #5ab3de;
    border: none;
    border-radius: 10px;
    padding: .4em 2em;
    color: #fff;
    font-size: 1.1rem;
    margin: .7em auto;
    display: block;
    transition: ease background-color .3s;

    &:hover{
        background-color: darken(#5ab3de, 15%);
        cursor: pointer;
    }
}// btn

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1em;
}

.container{

    max-width: 1350px;
    margin: 0 auto;

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4em 1em;
        text-transform: capitalize;
        opacity: .7;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        z-index: 100;
    
        @media (max-width: 768px){
            top: auto;
            bottom: 0;

            
            .logo{
                img{
                    clip-path: ellipse(13% 60% at 13% 55%);
                }
            }

            .menu{
                
                .menu__item{

                    position: relative;
                    span{
                        display: none;
                    }
                    i{
                        font-size: 1.3rem;
                    }
                }//end menu__item
            }//end menu
        }//end media

        @media (max-width: 500px){
            .logo{
                display: none;
            }
            
            .menu{
                width: 100%;
                .menu__item{
                    margin: 0 auto;
                }
            }
        }

        .logo{
            width: 7em;
            height: 2em;
            

            img{
                width: 100%;
                object-fit: cover;                  
            }
        }//end logo

        .menu{
            .menu__item{
                margin: 0 1em;
                
            }//end menu__item
        }//end menu
    }// end nav

    .main{

        .hero-banner{
            // margin-top: 7.5em;
            height: 100vh;
            width: 100%;
            background-image: url(../img/aqua-img.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .info{
            position: relative;
            .grid{
                grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
                .aqua-logo{
                    
                    img{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        object-fit: contain;
                    }

                    @media (max-width: 768px){
                        img{
                            position: absolute;
                            top: 0%;
                            left: 0%;
                            opacity: .3;
                            object-fit: cover;
                            height: 100%;
                        }
                    }

                }//end aqua-logo

                .aquaworld{
                    display: flex;
                    height: 100%;
                    width: 100%;
                    padding: 1.6em;
                    flex-direction: column;
                    justify-content: space-evenly;
                    z-index: 10;

                    h2{
                        text-align: center;
                    }

                    p{
                        margin-bottom: 1em;
                    }

                }
            }// grid


        }//end info

        .services{
            // height: 80%;
            background-color: mediumseagreen;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            padding: 20px 0;
            position: relative;


            .grid{
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                gap: 1em;
            }
            // @media (max-width:768px){
            //     .grid {

            //     }
            // }

            h2{
                text-align: center;
                margin: 2rem 0;
            }

            .commercial-solutions,
            .residential-solutions,
            .ro-alkaline {
                width: 100%;
                height: 10em;
                border: 1px solid black;
                cursor: pointer;
                transition: ease all .3s;
                position: relative;

                &::after{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    bottom: 0;
                    right: 0;
                }
                @media (max-width: 815px){
                    height: 20em;
                }
            }

            .commercial-solutions{
                background: url(../img/services1.jpg);
                background-position: top center ;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .residential-solutions{
                background: url(../img/services2.jpg);
                background-position: top center ;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .ro-alkaline{
                background: url(../img/services3.jpg);
                background-position: top center ;
                background-size: cover;
                background-repeat: no-repeat;
            }

        }//end services

        .video{
            width: 100%;
            height: 80vh;
            position: relative;

            iframe{
                // visibility: hidden;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }//end video

        .products{
            margin-top: 3em;
            padding: 1.6em;

            h2{
                margin-bottom: 1.4em;
            }
            
            .products-card{
                width: 100%;

                img{
                    width: 100%;
                    object-fit: contain;
                }
            }// products-card

            .contact-card{
                width: 100%;
                margin: 1em auto;
                padding: 4em 1em;
                background-color: lightgray;

                p{
                    font-weight: bold;
                    font-size: 1.2rem;
                    text-align: center;
                }

                a{
                    width: 10em !important;
                    text-align: center !important;
                    color: #fff !important;
                    margin-top: 2.3em;
                }
            }
        }//end products

        .videos{
            margin-top: 3em;
            padding: 1.6em;

            .video-container{
                margin: 1em;
                max-width: 18em;
                border: 1px solid black;
                border-radius: 15px;

                iframe{
                    width: 100%;
                    border-radius: 15px 15px 0 0 ;
                }

                .description{
                    width: 100%;
                    margin-top: .4em;
                    padding: .5em;
                    text-overflow: ellipsis;

                }

            }//end video-container
        }//end videos

        .contact-form{
            max-width: 800px;
            margin: 3em auto;
            padding: 1.6em;
            
            .form-input{
                margin: 1.5em 0;

            }

        }//end contact-form

    }//end main

    .footer{
        color: #fff;
        background-color: #262626;
        margin-top: .1em;

        .contact-us{
            padding: 3em;
            text-align: center;

            .about-us{
                margin: 1em 0;
            }

        }

        .social-networks{
            padding: 1em 0;
            display: flex;
            justify-content: center;
            align-items: center;

            i{
                color: #fff;
                font-size: 2.2em;
                transition: ease all .4s;
                margin: 0 .5rem;

                &:hover{
                    transform: scale(1.1);
                }
            }// i

            @media (max-width:768px){
                margin-bottom: 3em;
            }
        }//end social-networks

        .bot-line{
            background-color: rgb(36, 34, 34);
            text-align: center;
        }
    }//end footer
}//end container


