{% extends 'base.html' %}

{% block content %}
    <div class="hero-banner"></div>

    <div class="info">
        <div class="grid">
            <div class="aqua-logo">
                <img src="{{ url_for('static', filename='img/logo_aqua.jpg') }}" alt="">
            </div>
            <div class="aquaworld">
                <h2>Aqua World</h2>
        <p>
            AquaWorld systems is committed to bringing the highest quality water to every home. We offer a personalized service to all families bringing them the best water treatment solution.
        </p>

        <p>
            Everyone deserves the best water for their family. Purified water is not a luxury, its an essential element for life.
        </p>
        <p>
            Products we offer are a water purification system and an alkaline reverse osmosis system. Both systems improve the quality of your water and your life. Our SilverShield® technology developed by NASA, is the leading technology in the industry. Working only with patented systems certified by reputable agencies and laboratories, providing great support.
        </p>
        <p>
            We offer a variety of high level water treatment products and solutions that meet your needs. Whether it’s in your home or your business we offer a safe, clean and most importantly reliable quality water.
        </p>
            </div>
        </div>
    </div>

    <div class="services">
        <h2>Services</h2>
        <div class="grid">
            <div class="commercial-solutions">
                commercial solution
            </div>

            <div class="residential-solutions">
                residential solutions
            </div>

            <div class="ro-alkaline">
                ro alkaline
            </div>    
        </div>

    </div>

    <div class="video">
        <iframe src="https://www.youtube.com/embed/8GW6sLrK40k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock content %}