{% extends 'base.html' %}

{% block content %}
<div class="videos">
    <h2>Videos</h2>
    <div class="grid">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/8GW6sLrK40k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta aliquid praesentium magni. Rem ea at incidunt voluptate.</p>
        </div>
    </div>
</div>
{% endblock content %}
